* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Baloo 2", sans-serif;
  }
}

p,
a {
  font-family: 'Crimson Pro';
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding-left: 2vw;
  padding-right: 2vw;

  figure {
    img {
      width: 100%;
      mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 1) 85%);
    }
  }

  @media screen and (min-width: 992px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  background-color: #111;
  color: #fff;

  header {
    position: fixed;
    top: calc(100vh / 2);
    right: 3vw;
    z-index: 10;
    nav {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        column-gap: 1rem;

        li {
          background-color: #fffede;
          text-decoration: none;
          border-radius: 50%;
          clip-path: circle();
        }

        a {
          display: inline-block;
          width: 12px;
          height: 12px;

          &:visited {
            color: unset;
          }
        }

        li.current {
          background-color: deeppink;

        }
      }
    }
  }

  section,
  hr {
    margin-bottom: 3rem;
  }

  .about {
    .about-me {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
      }

      // width: 80%;
      margin: 0 auto;
      gap: 3em;

      >div div {
        margin-bottom: 2rem;
      }

      div,
      figure {
        img {
          // mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 1) 85%);
          width: 100%;
        }
      }
    }
  }

  .skills-container {
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
    // gap: 1em;
    > div {
      display: flex;
      gap: .5em;
      margin: .5em 0;
      flex-wrap: wrap;
      justify-content: center;
      .skill {
        width: fit-content;
        max-width: 140px;
        @media screen and (min-width: 48em) {
          max-width: unset;
        }
        // padding: .5em;
  
        // background-color: #fff;
        .skill-header {
          h2 {
            font-size: 1.25em;
          }
        }
  
        .skill-bottom {
          figure {
            height: 150px;
  
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;

    .project {
      width: fit-content;
      padding: .5em;

      .project-header {
        figure {
          height: 150px;

          img {
            height: 100%;
          }
        }
      }

      .project-bottom {
        p {
          font-size: 1em;
        }
      }

    }
  }

  #contact {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    div {
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: 992px) {
        justify-content: flex-end;
        align-items: flex-end;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 992px) {
          width: unset;
        }

        p {
          display: flex;
          flex-direction: column;
          row-gap: .25em;

          input,
          textarea {
            border: none;
            border-left: 2px deeppink solid;
            border-bottom: 2px deeppink solid;
          }
        }
        button[type="submit"] {
          background-color: #c80141;
          color: #fffede;
          border: none;
          font-family: "Baloo 2", sans-serif;
          padding: .5em;
          margin-top: .5em;
          margin-right: 2em;
          align-self: flex-end;
          @media screen and (min-width: 992px) {
            margin-right: unset;
          }
        }
      }

    }
    figure {
      max-width: 35vw;
      margin: 0 auto;
      h2 {
        align-self: flex-end;
        padding-top: 1rem;
        position: relative;
        width: fit-content;
        height: 150px;
        color: #111;
        margin-bottom: 2em;
  
        &::before {
          content: "";
          width: 125%;
          height: 100%;
          background-image: url("../assets/habillage/bulle.svg");
          position: absolute;
          bottom: .25em;
          left: -20px;
          z-index: -1;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: top;
          background-size: contain;
          // transform: rotateX(180deg);
          transform-origin: center;
  
          @media screen and (min-width: 992px) {
            // margin: 0 auto;
            bottom: 0;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
    border-top: solid .0625rem #fff;
    padding: .1925em 0;

    a {
      font-size: 1em;

      figure {
        width: 2rem;

        img {
          width: 100%;
        }
      }
    }
  }
}