{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Frédéric Séjournant - Développeur web front-end - Découvrez mon portfolio" />
    <!-- favicon-->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/habillage/favicon.png' %}"
    />
    <!-- Custom-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'includes/css/base.min.css'%}"
    />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <title>Frédéric Séjournant</title>
  </head>
  <body>
    {% block content %}{% endblock content %}

    <!-- Contenu de la page -->
  </body>
  <script src='{% static "includes/js/index.js" %}'></script>
</html>
